@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int totalRow = 8;
}

<div class="text-center">
    <h3 class="text-center">Product</h3>
    
    <button onclick="return AddRow()" class="my-3 float-start btn btn-success">Add Row</button>


    <table id="table-dinamis" class="table">
       <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody>
         @*  @{
               for(int i = 1; i <= totalRow; i++)
               {
                                <tr>
                                    <td>@i</td>
                                    <td></td>
                                    <td></td>
                                </tr>
               }
           }*@
        </tbody>

    </table>

</div>

<script>
    function AddRow(totalRow) {
        var table = document.getElementById("table-dinamis");
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = "NEW CELL1";
        cell2.innerHTML = "NEW CELL2";
    }
    
</script>